@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  font-family: sans-serif;
  padding: 1em;
  background: #212d3b;
  color: white;
}

.header-title{
  text-align: center;
  /* background: -webkit-linear-gradient(#28ffff, #4e4e4e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

.color-picker-container{
  margin-top: 1em;
}

.color-picker-container input{
  width: 100%;
  height: 50px;
}

.color-picker-labels{
  margin-top: .5em;
  display: flex;
  justify-content: space-between;
}

label{
  display: block;
  font-weight: 700;
}

.mode-picker-container{
  margin-top: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.colorscheme-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  padding-bottom: 70px;
  gap: 20px;
  flex-wrap: wrap;
}

.colorscheme-item{
  text-align: center;
  width: 140px;
  height: 165px;
}

.colorscheme-color{
  width: 100%;
  height: 100px;
  border-radius: 10px;
}

.colorscheme-color__hex{
  margin-top: .5em;
}


.navigation{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.navigation::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.buttons-holder{
  position: absolute;
  top: -30px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 2em;
}

.navigation button{
  width: 55px;
  height: 55px;
  outline: none;
  border: 2px solid white;
  border-radius: 50%;
  font-weight: bold;
  color: #17f5f5;
  background: rgba(255, 255, 255, 0.21);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.add-color-btn,
.remove-color-btn {
  font-size: 30px;
}


@media screen and (max-width: 400px) {
  .color-picker-labels label,
  .mode-picker-container label{
    font-size: 0.85rem;
  }

  .mode-picker-container select{
    font-size: .85rem;
  }
}


/* SPINNER- LOADING */

.loading-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
}

.spinner{
  width: 100px;
  height: 100px;
  position: relative;
}

.spinner div{
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top-color: #17f5f5;
  border-radius: 50%;
  animation: spinnerOne 1.2s linear infinite;
}

.spinner div:nth-child(2){
  border: 10px solid transparent;
  border-bottom-color: #17f5f5;
}

@keyframes spinnerOne {
  0% { transform: rotate(0deg); border-width: 10px }
  50% { transform: rotate(180deg); border-width: 1px }
  100% { transform: rotate(360deg); border-width: 10px }
}



.warning{
  display: none;
}

@media screen and (min-width: 800px) {
  .main-temp{
    display: none;
  }
  .warning{
    display: flex;
  }
}



.test-container{
  border: 1px solid #17f5f5;
  padding: .5em;
  margin-top: .5em;
}

.test-container-inner{
  padding: 1em;
}